/* #################### */
/*                      */
/*    BEAM-Messenger    */
/*   by Marvin Borner   */
/*                      */
/* #################### */

/* This landing page has been Made by Marco Alexander Fischer. */
/*         visit marcoalexanderfischer.de for more!            */

/* ############################################################################################ */

* {
    text-align: center;
    background-color: #282828;
    font-family: Comfortaa;
}

body {
    margin-top: 10rem;
}

.Main-Content {
    color: white;
}

.Social {
    font-size: 35px;
}

a:visited {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: #1457c6;
}